@model Final_Project.Models.Course_Schedule


@using (Html.BeginForm("CreateCourseSchedule")) 
{
    @Html.AntiForgeryToken()
    <p class="btn-link" data-toggle="collapse" data-target="#createSchedule">Add Course Schedule</p>
    <div class="form-inline collapse" id="createSchedule">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @{
                string[] days = new string[] { "Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday" };
                foreach (var day in days)
                {
                    <input type="checkbox" name="selectedDays" value=@day /> @day<br />
                }
            }
        <p class="text-danger" id="checkWarning"></p><br />
            <div class="form-group">
                @Html.LabelFor(model => model.StartTime, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @*@Html.EditorFor(model => model.StartTime, new { htmlAttributes = new { @class = "form-control", @name = "startTime" } })*@
                    <input type="text" pattern="(?:0?[0-9]|1[0-9]|2[0-3]):[0-5][0-9]" required="required" placeholder="hh:mm" name="startTime" class="form-control" /><br />
                    @Html.ValidationMessageFor(model => model.StartTime, "", new { @class = "text-danger" })
                </div>
            </div><br />

            <div class="form-group">
                @Html.LabelFor(model => model.EndTime, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @*@Html.EditorFor(model => model.EndTime, new { htmlAttributes = new { @class = "form-control", @name = "endTime"} })*@
                    <input type="text" pattern="(?:0?[0-9]|1[0-9]|2[0-3]):[0-5][0-9]" required="required" placeholder="hh:mm" name="endTime" class="form-control" /><br />
                    @Html.ValidationMessageFor(model => model.EndTime, "", new { @class = "text-danger" })
                </div>
            </div><br />

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Submit" class="btn btn-default" onclick="return testCheck()" />
                </div>
            </div>
    </div>
}

<script type="text/javascript">
    function testCheck() {
        var checkBoxes = document.getElementsByName('selectedDays');
        var isChecked = false;
        for (var i = 0; i < checkBoxes.length; i++) {
            if (checkBoxes[i].checked) {
                isChecked = true;
            };
        };
        if (isChecked) {
            return true;
        } else {
            $("#checkWarning").html("Please select course days");
            return false;
        }
    }
 </script>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

