@model Final_Project.Models.CourseViewModel

@{
    ViewBag.Title = "CreateCourse";
}

<h2>Create Course</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Course.CourseName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Course.CourseName, new { htmlAttributes = new { @class = "form-control", @name = "courseName" } })
                @Html.ValidationMessageFor(model => model.Course.CourseName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CourseDetail.StartDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CourseDetail.StartDate, new { htmlAttributes = new { @class = "form-control", @name = "startDate", @placeholder = "yyyy-mm-dd" } })
                @Html.ValidationMessageFor(model => model.CourseDetail.StartDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CourseDetail.EndDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CourseDetail.EndDate, new { htmlAttributes = new { @class = "form-control", @name = "endDate", @placeholder = "yyyy-mm-dd" } })
                @Html.ValidationMessageFor(model => model.CourseDetail.EndDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CourseDetail.Price, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CourseDetail.Price, new { htmlAttributes = new { @class = "form-control", @name = "price" } })
                @Html.ValidationMessageFor(model => model.CourseDetail.Price, "", new { @class = "text-danger" })
            </div>
        </div>
       @{ List<SelectListItem>teachers = new List<SelectListItem>
                ();
                foreach (var t in ViewBag.Teachers)
                {
                var teacher = new SelectListItem { Text = t.Person.LastName, Value = t.EmployeeId.ToString() };
                teachers.Add(teacher);
                }
                }
                <div class="form-group">
                    @Html.LabelFor(model => model.CourseDetail.TeacherId, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.CourseDetail.TeacherId, @teachers, new { htmlAttributes = new { @class = "form-control", @name = "TeacherId" } })
                        @*@Html.DropDownListFor(model => model.Teacher, new SelectList(Model.Teacher, "EmployeeId", "Username"), new { htmlAttributes = new { @class = "form-control", @name = "EmployeeId" } })*@
                        @Html.ValidationMessageFor(model => model.Teacher, "", new { @class = "text-danger" })
                    </div>
                </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Submit" class="btn btn-default" />
                </div>
            </div>
    </div>
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

